body {
    background: linear-gradient(to top right, #1E1F22, #19191d);
    font-family: Arial, sans-serif;
    color: #b3b3b3;
    height: 100vh;
}

.item-detail-view {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding-bottom: 60px;
}

img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.item-name {
    font-weight: bold;
    margin: 10px;
    align-self: center;
    justify-self: center;
    /* margin: 0%; */
}

.item-description {
    align-self: center;
    max-height: 100px;
    overflow: hidden;
    transition: max-height 1s ease;

    border-radius: 8px;

    box-sizing: border-box;
    word-break: wrap;
    line-height: 1.5;
    font-size: 1em;

}

.item-description.expanded {
    max-height: none;
    /* Remove height restriction */
}

.item-description-wrapper {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background-color: #2B2D30;
    padding: 10px;
}

.expand-button:hover {
    color: #0056b3;
}

.expand-button {
    align-self: center;
    margin-top: 10px;
    cursor: pointer;
    background: none;
    border: none;
    color: #007bff;
    /* text-decoration: underline; */
    font-size: 1em;
    background-color: #b3b3b3;
    border-radius: 8px;
    text-decoration: dashed;
}

.seller-name-wrapper {
    padding: 10px;
    display: flex;
    column-gap: 10px;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    background-color: #2B2D30;
    border-radius: 8px;
}

.seller-profile-pic{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.price-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    border-radius: 8px;
    column-gap: 20px;
}

.price {
    padding: 8px;
    font-size: 1em;
    font-weight: bold;
    background-color: #2B2D30;
    border-radius: 8px;
}

.buy-button {
    padding: 8px;
    font-size: 1em;
    font-weight: bold;
    background: none; /* Remove default background */
    border: none; /* Remove default border */
    cursor: pointer; /* Add pointer cursor */
    color: #007bff; /* Custom text color */
    border-radius: 8px;
    text-decoration: none; /* Remove underline */

    background-color: #2B2D30;
}

.buy-button:hover {
    color: #0056b3; /* Change color on hover */
}